[Unit]
Description=titan2
After=network.target

[Service]
User=lostleonardo
Type=simple
ExecStart=/home/lostleonardo/bin/titan2 -hostname my.site -dir /home/lostleonardo/gemini -crt /home/lostleonardo/certs/crt.pem -key /home/lostleonardo/certs/key.pem -port 1965

[Install]
WantedBy=default.target
