[Unit]
Description=titan2
After=network.target

[Service]
User=lostleonardo
Type=simple
Exec=/home/lostleonardo/bintitan2 -hostname my.site -dir /home/lostleonardo/gemini -crt /home/lostleonardo/certs/crt.pem -key /home/lostleonardo/certs/crt.pem -port 1965

[Install]
WantedBy=default.target